{% extends 'portal/base.html' %}

{% load static %}

{% block content %}
<h1>Your leave request has been submitted.</h1>
<div class="leave-status">
    <button onclick="location.href='{% url 'employee_request_status' %}'">Check Leave Status</button>
</div>
</div>
<style>
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
    h1 {
        text-align: center;
    }
    .details {
        margin-top: 20px;
    }
    .details p {
        margin: 10px 0;
    }
    .leave-status {
        margin-top: 20px;
        text-align: center;
    }
    .leave-status button {
        background-color: #fafafa;
        color: #000000;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
    .leave-status button:hover {
        background-color: #a4a4a4;
    }
</style>
{% endblock %}
