{% extends 'portal/base.html' %} {% block content %}

<style>
    .btn-primary:hover {
    background-color: #f64c72;
    border-color: #f64c72;
    color: white;
  }
    .btn-primary{
        border-color: #f64c72;
        border-width: 0.1pc;
    }
</style>

<div class="container" style="color: white; padding-top: 20px;">
  <h2>Log In</h2>
  <br>
  {% load crispy_forms_tags %}

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post" action="{% url 'login_view' %}">
    {% csrf_token %}
    {{ user_form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>
{% endblock %}
