{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .container {
        color: white;
        padding-top: 20px;
    }

    h2 {
        color: white; /* Heading color */
    }

    .signup-section {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .form-section,
    .image-section {
        flex: 1;
    }

    .form-section {
      background-color: #242582;
      align-items: left;
      flex-grow: 1;
      padding: 20px;
    }

    .image-section {
      background-color: white;
    }

    form {
        max-width: 400px; /* Set the maximum width of the form */
        margin: auto; /* Center the form horizontally */
    }

    .btn-primary {
        background-color: #f64c72;
        border-color: #f64c72;
        color: white;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .btn-primary:hover {
        background-color: #f64c72; /* Darker shade on hover */
        border-color: #f64c72; /* Darker shade on hover */
    }

    .form-group {
        margin-bottom: 15px; /* Adjust spacing between form fields */
    }

    label {
        color: white; /* Label color */
    }

    .image-section img {
        max-width: 100%;
        height: auto;
    }
</style>

<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',  // Adjust the date format as needed
            autoclose: true,
            orientation: 'bottom'
        });
    });
</script>

<br>
<div class="container">
    <!-- <h2>Sign Up</h2> -->
    <div class="signup-section">
        <div class="image-section">
            <img src="{% static 'portal/mainpage.png' %}" alt="Image Description">
        </div>
        <div class="form-section">
            <h2>Sign Up</h2>
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|crispy }}
                <button type="submit" class="btn btn-outline-primary mt-3">Sign Up</button>
                <br>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
